# content
/_wdcmModules/_wdcmModules.Rproj
/_wdcmModules/wdcmConfig.xml

# Created by install library script
r-library

# R project stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# IntelliJ idea directory
.idea
